# put this script here /etc/systemd/system/controller.service
# and then run:
# sudo systemctl daemon-reload && sudo systemctl enable SCRIPT_NAME
# sudo service controller start
#
[Unit]
Description=Unicorn Daemon for controller
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/wwwscript
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind unix:/home/pi/wwwscript/controller_socket.sock controller:app

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
